<div style="width: 100%; height: 45px; background: #2f2f2f">
  <img src="./assets/imgs/logo_white.png" style="display: table; margin: auto; width: 45px; position: relative; top: 5px"/> 
</div>

<div style="width: 100%; height: 100%; background: #1c1c1c">
  <div class="mdl-card mdl-shadow--2dp mdl-color--grey-900 animatedUp" style="background-color: #1c1c1c !important; width: 90%; color: #fff; margin: auto; height: 95%; overflow: auto">
    <div class="mdl-card__title">
      <span style="color: #fff; font-weight: bold; font-size: 14px">Bem Vindo ao EasyChopp! Se já tem cadastro faça o login</span>
    </div>
    <div class="mdl-card__media" style="background: #1c1c1c">
      <div *ngIf="showCadastroLabel" style="background: #ffc72d; color: #282828; font-weight: bold; width: 100%; text-align: center;">
        <span style="font-size: 12px"> Cadastro realizado com sucesso! Acesse</span>
      </div>
      <ion-item style="color: #ffc72d; background-color: transparent; width: 95%">
        <ion-label floating>E-mail</ion-label>
        <ion-input [(ngModel)]="login" (keydown.enter)="passInput.setFocus()"></ion-input>
      </ion-item>

      <ion-item style="color: #ffc72d; background-color: transparent; width: 95%">
        <ion-label floating>Senha</ion-label>
        <ion-input (keydown.enter)="entrar(login, senha)" #passInput [(ngModel)]="senha" type="password"></ion-input>
      </ion-item>
    </div>
    <div class="mdl-card__actions">
      <button ion-button 
        class="mdl-color--amber-600 mdl-color-text--white" 
        (click)="entrar(login, senha)" style="color: #000 !important; float: right"
        >
        Entrar
      </button>
    </div>

    <!-- <div style="margin-top: 15px; border-bottom: 1px solid #dcdcdc; width: 100%; text-align: center">
      <p style="font-weight: bold">Já possui cadastro em nosso sistema? Acesse agora</p> 
       <p>Ainda não possui um cadastro? Procure por uma loja com nossos serviços.</p>
    </div> -->

    <div style="margin-top: 5px; width: 100%; text-align: center; background: #1c1c1c">
      <img src="./assets/imgs/inst.jpg" style="margin-bottom: 5px;">
      <p>Duvidas?</p>
      <a href="http://www.easychopp.com.br/" style="color: #ffc72d; margin: 5px">Visite nosso site</a>

      <a href="https://www.youtube.com/watch?v=61dP3kGJUD0" style="color: #ffc72d; margin: 5px" >Assista também ao video</a>
      <!-- <p>ou esclareça melhor, contatando<br> (19) 3875-6829  ou <a style="color: #ffc72d;" href="whatsapp://send?phone=5519974093090">Whatsapp (19) 97409-3090</a></p> -->
      <p>ou esclareça melhor, contatando<br> (19) 3875-6829 (horário comercial)</p>
      <br>
      <p></p>
    </div>
  </div>
</div>