<div style="width: 100%; height: 45px; background: #2f2f2f; position: relative;">
  <button (click)="this.viewCtrl.dismiss()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" style="position: absolute; left: 5px; top: 5px">
    <i class="material-icons" style="color: #ffc72d">arrow_back</i>
  </button>
  <img src="./assets/imgs/logo_white.png"
    style="display: table; margin: auto; width: 45px; position: relative; top: 10px" />
</div>
<div style="overflow: auto; width: 100%; position: relative; height: calc(100% - 45px);" class="mdl-color--grey-800">

  <div *ngIf="isLoading" style="display: table; margin: auto">
    <div class="rotate">
    </div>
  </div>
  
  <div *ngIf="this.chopp_data.length < 1 && isLoading == false" style="padding-top: 15px">
    <i class="material-icons" style="font-size: 52px; color: #fff; display: table; margin: auto">info_outline</i>
    <span style="display: table; margin: 10px auto; color: #fff">Nenhum resultado encontrado!</span>
  </div>

  <!-- <div class="mdl-grid">
    <div class = "mdl-cell mdl-cell--2-col" *ngFor="let c of chopp_data; let i = index">
      <div (click)="viewTap(c)" style="border-radius: 6px; box-shadow: inset 0px 0px 10px rgb(177, 127, 0); height: 80px; min-width: 100%; background: #ffc72d; text-align: center; color: #000; font-weight: bold;">
        <img src="./assets/imgs/thing.png" style="display: table; margin: auto; width: 30px; height: 55px;padding-top: 5px;">
        <span>{{c.dsChopeira}}</span>
      </div>
    </div>
  </div> -->


  <ion-list style="background: #383838">
    <ion-item *ngFor="let c of chopp_data; let i = index" style="background: #383838">
      <ion-thumbnail item-start style="min-width: 40px; position: relative">
        <div style="position: absolute; border-radius: 100px; width: 55px; background: #fff;left: -10px;top: 20px;height: 55px;">
          <img src="./assets/imgs/thing.png" style="display: table; margin: auto; width: 20px; height: 35px;">
          <span style="display: table; margin: auto; font-weight: bold; font-size: 10px">{{i + 1}}</span>
        </div>
      </ion-thumbnail>
      <h2 style="color: #ffc72d; margin: 0px 0px; line-height: 24px">{{c.dsProduto}}</h2>
      <small style="font-size: 12px; color: #dcdcdc">ABV {{c.aBV}}        IBU {{c.iBU}}</small>
      <p style="color: #cccccc; font-size: 14px">R$ {{c.vlProduto}} a cada 100ml</p>
      <button ion-button clear item-end style="color: #fff" (click)="viewTap(c)">Ver</button>
    </ion-item>
  </ion-list>
</div>