<div style="width: 100%; height: 45px; background: #2f2f2f">

  <button (click)="this._viewControl.dismiss()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
    style="position: absolute; top: 5px; left: 5px;">
    <i class="material-icons" style="color: #ffc72d">arrow_back</i>
  </button>

  <img src="./assets/imgs/logo_white.png"
    style="display: table; margin: auto; width: 45px; position: relative; top: 5px" />
</div>

<div style="width: 100%; height: 95%; background: #282828">
  <div class="mdl-card mdl-shadow--2dp mdl-color--grey-900 animatedUp"
    style="width: 90%; color: #fff; margin: auto; height: 100%">
    <div class="mdl-card__title">
      <span style="color: #fff; font-weight: bold; font-size: 14px">Cadastre-se</span>
    </div>
    <div class="mdl-card__media mdl-color--grey-900" style="overflow: auto">
      <ion-item style="color: #ffc72d; background-color: transparent; width: 95%">
        <ion-label floating>Nome completo</ion-label>
        <ion-input [(ngModel)]="nome"></ion-input>
      </ion-item>

      <ion-item style="color: #ffc72d; background-color: transparent; width: 95%">
        <ion-label floating>E-mail</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>

      <div style="position: relative">
        <ion-item style="color: #ffc72d; background-color: transparent; width: 95%">
          <ion-label floating>Senha</ion-label>
          <ion-input [(ngModel)]="senha" type="password" #passInput></ion-input>
        </ion-item>

        <button style="position: absolute; right: 15px; top: 50px;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" style="color: #ffc72d" (click)="passInput.type == 'password' ? passInput.type = 'text': passInput.type = 'password'">remove_red_eye</i>
        </button>
      </div>

      <ion-item style="color: #ffc72d; background-color: transparent; width: 95%">
        <ion-label floating>Data de nascimento</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="data" [cancelText]="'Cancelar'" [doneText]="'Selecionar'"></ion-datetime>
      </ion-item>

      <div style="margin-top: 10px; background-color: transparent; width: 95%">
        <span style="font-size: 1.6rem;margin: 15px;position: relative;top: 10px; color: #999">Sexo</span>
        <ion-item style="color: #999; background-color: transparent; width: 95%">
          <ion-label>Masculino</ion-label>
          <ion-toggle [(ngModel)]="sexo.masculino" (click)="setSexo('m')"></ion-toggle>
        </ion-item>

        <ion-item style="color: #999; background-color: transparent; width: 95%; border: none; border-bottom: none">
          <ion-label>Feminino</ion-label>
          <ion-toggle [(ngModel)]="sexo.feminino" (click)="setSexo('f')"></ion-toggle>
        </ion-item>
      </div>

      <ion-item style="color: #ffc72d; background-color: transparent; width: 95%">
        <ion-label floating>CPF</ion-label>
        <ion-input [(ngModel)]="cpf" [brmasker]="{mask:'000.000.000-00', len:14}"></ion-input>
      </ion-item>

      <ion-item style="color: #ffc72d; background-color: transparent; width: 95%">
        <ion-label floating>Telefone</ion-label>
        <ion-input [(ngModel)]="telefone" [brmasker]="{mask:'(00) 0 0000-0000', len:16}"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button class="mdl-color--amber-600 mdl-color-text--white"
          style="color: #000 !important; display: table; margin: auto; width: 95%" (click)="cadastrar()">
          Cadastrar
        </button>
      </div>
    </div>
  </div>
</div>