<div style="width: 100%; height: 45px; background: #2f2f2f; position: relative;">
  <button (click)="this.viewCtrl.dismiss()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
    style="position: absolute; top: 5px; left: 5px;">
    <i class="material-icons" style="color: #ffc72d">arrow_back</i>
  </button>
  <img src="./assets/imgs/logo_white.png"
    style="display: table; margin: auto; width: 45px; position: relative; top: 10px" />

  <button (click)="filter()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
    style="position: absolute; top: 5px; right: 5px;">
    <i class="material-icons" style="color: #ffc72d">search</i>
  </button>
</div>
<div style="position: relative; overflow: auto; width: 100%; background: #282828; height: calc(100% - 10px);">

  <div *ngIf="isLoading" style="display: table; margin: auto">
    <div class="rotate">
    </div>
  </div>

  <div style="border-bottom: 1px solid #ffc72d; width: 100%">
    <div style="margin: 10px; display: inline-table">
      <span style="color: #fff">Créditos: </span>
    </div>

    <div style="margin: 10px; float: right; display: inline-table">
      <span style="float: right; color: #ffc72d; ">R$ {{this.navParams.get('creditos')}}</span>
    </div>
  </div>

  <ion-grid style="height: 100%; margin-top: 20px;">
    <ion-row style="background: #fff;" *ngFor="let o of extract; let i = index">
      <ion-col size="12">
        <span style="
                      font-size: 10px;
                      display: table;
                      margin: 10px auto;
                      font-weight: bold;
                      color: #ffa000;
                      padding: 10px;
                      background: #fcfcfc;
                      border: 2px solid #eeeeee;
                      border-radius: 25px
                    ">
          {{o.dia}}
        </span>

        <div *ngIf="o.content.length < 1">
          <ion-icon name="beer" style="font-size: 32px; display: table; margin: auto; color: #000"></ion-icon>
          <span style="text-align: center; font-size: 10px; display: table; margin: auto; color: #000">Nenhum registro
            de extrato encontrado!</span>
        </div>

        <ion-row style="border-bottom: 1px solid #dcdcdc;">
          <ion-col col-1 style="text-align: center">
            <span style="font-weight: bold; font-size: 10px">#</span>
          </ion-col>
          <ion-col col-5 style="text-align: center">
            <span style="font-weight: bold; font-size: 10px">Detalhes</span>
          </ion-col>
          <ion-col col-2 style="text-align: center">
            <span style="font-weight: bold; font-size: 10px">Valores</span>
          </ion-col>
          <ion-col col-2 style="text-align: center">
            <span style="font-weight: bold; font-size: 10px">Data</span>
          </ion-col>
        </ion-row>

        <ion-row style="border-bottom: 1px solid #dcdcdc; margin-bottom: 4px"
          *ngFor="let oc of o.content; let oi = index ">
          <ion-col col-2 style="text-align: center">
            <ion-icon style="font-size: 12px" name="beer" *ngIf="oc.type == 'DBC'"></ion-icon>

            <ion-icon style="font-size: 12px" name="card" *ngIf="oc.type == 'CRI'"></ion-icon>
            <span style="font-weight: bold; font-size: 8px;">{{oc.id}}</span>
          </ion-col>
          <ion-col col-5 style="text-align: center">
            <span style="font-size: 12px;">{{oc.data}}</span>
          </ion-col>
          <ion-col col-2 style="text-align: left">
            <span *ngIf="oc.type == 'DBC'; else elsetmp" style="font-size: 11px; font-weight: bold; color: #D32F2F">
              - R$ {{oc.amount.toFixed(2)}}
            </span>

            <ng-template #elsetmp>
              <span style="font-weight: bold; color: #388E3C; font-size: 11px;">
                + R$ {{oc.amount.toFixed(2)}}
              </span>
            </ng-template>

          </ion-col>

          <ion-col col-2 style="text-align: center">
            <span style="font-size: 8px; font-weight: bold; color: #000">
              {{oc.date}}
            </span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <div *ngIf="this.extract.length < 1 && isLoading == false">
      <ion-icon name="beer" style="font-size: 62px; display: table; margin: auto; color: #fff"></ion-icon>
      <span style="text-align: center; font-size: 12px; display: table; margin: auto; color: #fff">Nenhum registro de
        extrato encontrado!</span>
    </div>

  </ion-grid>
</div>