<div style="width: 100%; height: 100%; background: #282828">
  <img src="./assets/imgs/logo_white.png" class="fade-in" style="display: table; margin: auto; width: 32%; position: relative; top: 20%"/> 


  <span style="display: table; margin: auto; font-size: 12px; color: #fff">Carregando...</span>
  <div id="container" class="fade-in">
    <!-- <div class="pour"></div> -->
    <div id="beaker">
      <div class="beer-foam">
        <div class="foam-1"></div>
        <div class="foam-2"></div>
        <div class="foam-3"></div>
        <!-- <div class="foam-4"></div>
          <div class="foam-5"></div>
          <div class="foam-6"></div>
          <div class="foam-7"></div> -->
      </div>

      <div id="liquid">
        <div class="bubble bubble1"></div>
        <div class="bubble bubble2"></div>
        <div class="bubble bubble3"></div>
        <div class="bubble bubble4"></div>
        <div class="bubble bubble5"></div>
      </div>
    </div>
  </div>
</div>