<div style="width: 100%; height: 45px; background: #2f2f2f">
  <img src="./assets/imgs/logo_white.png" style="display: table; margin: auto; width: 45px; position: relative; top: 10px"/> 

  <button (click)="openOptions()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
    style="position: absolute; top: 5px; right: 5px;">
    <i class="material-icons" style="color: #ffc72d">more_vert</i>
  </button>
</div>
<ion-slides pager>
  <ion-slide *ngFor="let r of redes; let i = index" style="background-color: #282828; position: relative; overflow: auto" >
    <div class="mdl-card mdl-shadow--2dp mdl-color--grey-800" 
      style=" position: absolute; width: 100%; top: 0px; margin: auto; height: 100%; border-radius: 2px; overflow: auto">
      <div class="mdl-card__title" style="min-height: 220px">
        <div (click)="animImagem(imagem, empresaLabel)" #imagem [ngStyle]="{'background-image': 'url(' + 'https://apptst.easychopp.com.br/api/getEmpresaImagem?idEmpresa=' + r.idEmpresa + ')'}" style="text-align: center;margin: auto;display: table;width: 250px;height: 250px;border-radius: 150px;border: 5px solid #ffc72d;box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);background-position: center;background-repeat: no-repeat; background-color: #fff">
          <!-- <img [src]="'https://apptst.easychopp.com.br/api/getEmpresaImagem?idEmpresa=' +r.idEmpresa" style="margin: auto; display: table; margin-top: 20%"/> -->
        </div>
      </div>
      <div class="mdl-card__media mdl-color--grey-800">
        <div style="border-bottom: 1px solid #ffc72d;">
          <span #empresaLabel style="display: table; margin: auto; color: #ffc72d; font-weight: bold">
            {{r.dsEmpresa}} {{r.dsFilial != null ? (' - '+r.dsFilial): ''}}
          </span>
        </div>

        <div style="width: 100%; margin-top: 30px">
          <span style="float: left; padding-left: 55px; font-size: 18px; color: #ffc72d; font-weight: bold">
            Saldo: 
          </span>
          <span style="color: #fff; float: right; padding-right: 45px; font-weight: bold">
            {{r.vlCreditoAtual  | currency: 'BRL'}}

            <button (click)="refreshSaldo(refreshBtn, r)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" #refreshBtn>
              <i class="material-icons" style="color: #fff">refresh</i>
            </button>
          </span>

          <span *ngIf="r.vlCreditoPendente != null && r.vlCreditoPendente != 0" style="padding-top: 10px; float: left; padding-left: 55px; font-size: 14px; color: #ffc72d; font-weight: bold">
            Saldo pendente: 
          </span>
          <span *ngIf="r.vlCreditoPendente != null && r.vlCreditoPendente != 0"  style="color: #fff; float: right; padding-right: 78px; font-weight: bold; font-size: 14px; color: #8c8c8c">
            {{r.vlCreditoPendente  | currency: 'BRL'}}
          </span>

          <button 
            [disabled]="(r.idUsuarioTransacaoOnLine == null && r.SenhaTransacaoOnLine == null) || (r.idUsuarioTransacaoOnLine.length < 1 && r.SenhaTransacaoOnLine.length < 1)" 
            (click)="recarregar(r)"
            class="mdl-button mdl-js-button mdl-color--amber-600 mdl-color-text--black" 
            style="border-radius: 20px; width: 100%; margin-top: 15px">

            <i class="material-icons" style="float: left; position: relative; top: 7px">card_giftcard</i>
            <span>Recarregar!</span>

          </button>

          <button (click)="consultarExtrato(r)" class="mdl-button mdl-js-button mdl-color--amber-600 mdl-color-text--black" style="border-radius: 20px; width: 100%; margin-top: 15px">
            <i class="material-icons" style="float: left; position: relative; top: 7px">account_balance_wallet</i>
            <span>Consultar Extrato</span>
          </button>

          <button (click)="openTapList(r)" class="mdl-button mdl-js-button mdl-color--amber-600 mdl-color-text--black" style="border-radius: 20px; width: 100%; margin-top: 15px">
            <ion-icon name="beer" style="float: left; position: relative; top: 10px; left: 5px"></ion-icon>
            <span>Confira os Plugados</span>
          </button>
        </div>
      </div>
    </div>
  </ion-slide>
</ion-slides>