<div style="width: 100%; height: 45px; background: #2f2f2f; position: relative;">
  <button (click)="this.viewCtrl.dismiss()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" style="position: absolute; left: 5px; top: 5px">
    <i class="material-icons" style="color: #ffc72d">arrow_back</i>
  </button>
  <img src="./assets/imgs/logo_white.png"
    style="display: table; margin: auto; width: 45px; position: relative; top: 10px" />
</div>
<div style="overflow: auto; width: 100%; position: relative; height: calc(100% - 45px);" class="mdl-color--grey-800">

  <div *ngIf="isLoading" style="display: table; margin: auto">
    <div class="rotate">
    </div>
  </div>
  
  <div *ngIf="this.recarga_data.length < 1 && isLoading == false" style="padding-top: 15px">
    <i class="material-icons" style="font-size: 52px; color: #fff; display: table; margin: auto">info_outline</i>
    <span style="display: table; margin: 10px auto; color: #fff">Nenhum resultado encontrado!</span>
  </div>

  <ion-list style="background: #383838">
    <ion-item *ngFor="let c of recarga_data; let i = index" style="background: #383838">
      
      <ion-thumbnail item-start style="min-width: 40px; position: relative">
        <div style="position: absolute; border-radius: 100px; width: 55px; background: #fff;left: -10px;top: 20px;height: 55px;">
          <img src="./assets/imgs/thing.png" style="display: table; margin: auto; width: 20px; height: 35px;">
          <span style="display: table; margin: auto; font-weight: bold; font-size: 10px">
            <i class="material-icons">monetization_on</i>
          </span>
        </div>
      </ion-thumbnail>

      <h2 style="color: #ffc72d; margin: 0px 0px; line-height: 24px">{{c.label}}</h2>
      <!-- <small style="font-size: 12px; color: #dcdcdc">Equivalente a {{c.value}} reais em creditos ...</small> -->

      <button ion-button clear item-end style="color: #fff" (click)="selecionar(c)">
        <i class="material-icons">subdirectory_arrow_right</i>
      </button>
    </ion-item>
  </ion-list>

  <footer style="width: 100%; text-align: center">
    <span style="display: table; margin: 2px auto; font-size: 10px; color: #dcdcdc">Você será redirecionado ao PagSeguro</span>
    <span style="display: table; margin: 2px auto; font-size: 10px; color: #dcdcdc">O pagamento é processado diretamente pelo <b>PagSeguro</b>, todo e qualquer problema que, por ventura, venha a ocorrer, por favor, procure pelo <a href="https://faq.pagseguro.uol.com.br/minha-conta/30/suporte/146" style="color: #ffc72d">suporte especializado.</a></span>
    <img src="./assets/imgs/logo-pagseguro.png" style="margin: 5px; float: left; width: 25%" />
    <p style="font-size: 8px; color: #dcdcdc; float: right; margin: 5px; ">
      {{this.year}} Easychopp &copy; PagSeguro 
    </p>
  </footer>
</div>
