// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@keyframes animatedUp{
    100%{
        top: 0%;
    }0%{
        top: 100%;
    }
}

@keyframes turnAround{
    100%{
        transform: rotate(360deg);
    }0%{
        transform: rotate(0deg);
    }
}

@keyframes simpleBreath{
    100%{
        transform: scale(1);
    }50%{
        transform: scale(1.115);
    }0%{
        transform: scale(1);
    }
}

@keyframes fade_in {
    100%{
        opacity: 1;
    }0%{
        opacity: 0;
    }
}


.fade-in{
    animation: 1s fade_in ease-in-out;
}


@keyframes rotate_anim{
    100%{
        transform: rotate(360deg)
    }0%{
        transform: rotate(0deg)
    }
}

.rotate{
    border: 2px dashed #ffb71c;
    border-radius: 200px;
    height: 50px;
    width: 50px;
    animation: rotate_anim 1s infinite;
}

.animatedUp{
    position: relative;
    animation: .65s animatedUp;
}

.turnAround{
    animation: .65s turnAround;
}

.simpleBreath{
    animation: .65s simpleBreath;
}