<div style="width: 100%; height: 45px; background: #2f2f2f; position: relative;">
  <button (click)="this.viewCtrl.dismiss()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
    style="position: absolute; top: 5px; left: 5px;">
    <i class="material-icons" style="color: #ffc72d">arrow_back</i>
  </button>
  <img src="./assets/imgs/logo_white.png"
    style="display: table; margin: auto; width: 45px; position: relative; top: 10px" />
</div>
<div style="position: relative; overflow: auto; width: 100%; background: #282828; height: calc(100% - 10px);">
  <div class="mdl-card mdl-shadow--2dp mdl-color--grey-900" style="width: 95%; margin: auto">
    <div class="mdl-card__title">
      <span style="color: #ffc72d">Alterar senha</span>
    </div>
    <div class="mdl-card__media mdl-color--grey-900">
      <ion-item style="color: #ffc72d; background-color: transparent; width: 95%">
        <ion-label floating>Senha atual</ion-label>
        <ion-input [(ngModel)]="senha_atual" type="password" #senhaAtual></ion-input>
        <button item-right class="mdl-button mdl-button--icon" (click)="senhaAtual.type == 'text' ? senhaAtual.type = 'password': senhaAtual.type = 'text'">
            <i class="material-icons">remove_red_eye</i>
          </button>
      </ion-item>
    
      <ion-item style="color: #ffc72d; background-color: transparent; width: 95%">
        <ion-label floating>Nova senha</ion-label>
        <ion-input [(ngModel)]="new_senha" type="password" #novaSenha></ion-input>
        <button item-right class="mdl-button mdl-button--icon" (click)="novaSenha.type == 'text' ? novaSenha.type = 'password': novaSenha.type = 'text'">
            <i class="material-icons">remove_red_eye</i>
          </button>
      </ion-item>
    
      <ion-item style="color: #ffc72d; background-color: transparent; width: 95%">
        <ion-label floating>Confirmar nova senha</ion-label>
        <ion-input [(ngModel)]="new_senha_conf" type="password" #confNovaSenha></ion-input>
        <button item-right class="mdl-button mdl-button--icon" (click)="confNovaSenha.type == 'text' ? confNovaSenha.type = 'password': confNovaSenha.type = 'text'">
          <i class="material-icons">remove_red_eye</i>
        </button>
      </ion-item>
    </div>
    <div class="mdl-card__actions">
        <button ion-button 
        class="mdl-color--amber-600 mdl-color-text--white" 
        (click)="alterarSenha(senha_atual, new_senha, new_senha_conf)" style="color: #000 !important; float: right"
        >
        Alterar
      </button>
    </div>
  </div>
</div>