<div style="position: absolute; top: 0; height: 100%; width: 100%; background: rgba(0,0,0,.6)">
</div>
<div style="margin-top: 20px; overflow: auto; width: 100%; position: relative; height: 95%;" class="mdl-color--white">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div style="display: table; margin: auto; width: 40%">
        <img src="https://technoxinformatica.com.br/single/easychopp/assets/imgs/logo_normal.png" style="width: 80%; display: table; margin: 5px auto" />
      </div>
    </div>

    <div style="display: table; margin: auto; text-align: center; border: 1px solid #dcdcdc; border-radius: 5px; width: calc(100% - 16px);padding-top: 15px;">
      <p style="width: 90%; display: table; margin: auto">
        O aplicativo veio para facilitar a interação entre os <b>Clientes</b> e o <b>Estabelecimento</b>. <br>
        Trazendo o <b>saldo</b> relacionado a cada ponto de venda.<br>
        Acompanhamento de <b>extrato mensal</b> dos gastos.<br>
        Visualização de todos os <b>TAPS</b> integrados ao Estabelecimento.
        <br><br>
        Em parceria com <a style="color: darkcyan; text-decoration: none" href="https://technoxinformatica.com.br/">TechnoX Informática</a>, o app foi desenvolvido utilizando diretivas de software livre, o que garante a você maior suporte a todos os conteudos.
      </p>
    </div>

    <div style="display: table; margin: auto; width: 45%; margin-top: 5px">
      <img src="https://technoxinformatica.com.br/single/easychopp/assets/imgs/logo_technox.png" style="width: 90%; display: table; margin: 5px auto" />
      <span style="display: table; margin: auto;position: relative;bottom: 40px;left: 5px;font-size: 11px;">Informática</span>
    </div>
  </div>

  <button (click)="viewCtrl.dismiss()"
    class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--grey-800"
    style="top: 10px; right: 10px; position: absolute;">
    <i class="material-icons" style="color: #ffc72d; font-size: 20px">clear</i>
  </button>
</div>