<div style="width: 100%">
  <div style="border-bottom: 1px solid #dcdcdc">
    <span style="font-weight: bold; display: table; margin: 10px auto">Descrição</span>
  </div>
  <div style="text-align: center; margin: auto; width: 90%">
    <p style="margin: 4px">{{this.navParams.get('dsDescricao')}}</p>
  </div>

  <div style="border-bottom: 1px solid #dcdcdc">
    <span style="font-weight: bold; display: table; margin: 10px auto">Ingredientes</span>
  </div>
  <div style="text-align: center; margin: auto; width: 90%">
    <p style="margin: 4px">{{this.navParams.get('dsIngredientes')}}</p>
  </div>
</div>
