<div style="width: 100%; background: #282828; display: table; margin: auto; position: relative">
  <span
    style="display: table; color: #fff; position: relative; top: 15px; left: 15px;">
    {{userData.dsNomeCliente}}
    &nbsp;
  </span>
  <button title="Configurações da conta" class="mdl-button mdl-js-button mdl-button--icon" 
    style="float: right; position: absolute; top: 7px; right: 7px;"
    (click)="alterarSenha()">
    <i class="material-icons" style="color: #ffc72d">settings</i>
  </button>

  <!-- <button (click)="openSobre()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
    style="margin-top: 32px; margin-bottom: 5px; border-bottom: 1px solid #ffc72d; position: relative; width: 100%">
    <i class="material-icons" style="color: #ffc72d; position: absolute; top: 7px; left: 7px">info_outline</i>
    <span style="float: left; padding-left: 25px">Sobre</span>
  </button> -->

  <button (click)="logOut()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
    style="margin-top: 32px; margin-bottom: 5px; position: relative; width: 100%; border-top: 1px solid #ffc72d;">
    <i class="material-icons" style="color: #ffc72d; position: absolute; top: 7px; left: 7px">exit_to_app</i>
    <span style="float: left; padding-left: 25px">Sair</span>
  </button>
</div>