<div style="width: 100%; height: 45px; background: #2f2f2f; position: relative;">
  <button (click)="this.viewCtrl.dismiss()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" style="position: absolute; left: 5px; top: 5px">
    <i class="material-icons" style="color: #ffc72d">arrow_back</i>
  </button>
  <img src="./assets/imgs/logo_white.png"
    style="display: table; margin: auto; width: 45px; position: relative; top: 10px" />
</div>
<div style="overflow: auto; width: 100%; position: relative; height: calc(100% - 45px);" class="mdl-color--grey-800">

  <iframe width="100%" height="100%" [src]="this.url">
  </iframe>

</div>
