<!-- <div style="width: 100%; height: 75px; background: #2f2f2f; position: relative;">
  <button (click)="this.viewCtrl.dismiss()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
    style="position: absolute; left: 10px; top: 20px">
    <i class="material-icons" style="color: #ffc72d">arrow_back</i>
  </button>
  <img src="./assets/imgs/logo_white.png"
    style=" display: table; margin: auto; width: 22%; position: relative; top: 10px" />
</div> -->
<div style="position: absolute; top: 0; height: 100%; width: 100%; background: rgba(0,0,0,.6)">
</div>
<div style="margin-top: 20px; overflow: auto; width: 100%; position: relative; height: 95%;" class="mdl-color--white">
  <div class="mdl-grid">
    <div class = "mdl-cell mdl-cell--12-col">
      <div style="height: 300px; max-height: 300px">
        <img [src]="'https://apptst.easychopp.com.br/api/getProdutoImagem?key=a&idproduto=' + this.navParams.get('idProduto')" style="max-height: 300px; display: table; margin: 5px auto"/>
      </div>
    </div>

    <span>ABV {{this.navParams.get('aBV')}}        IBU {{ this.navParams.get('iBU') }}</span>

    <div style="position: relative; text-align: left; width: 100%; background: #404040; border-radius: 6px; border: 1px solid #555; padding-top: 20px;height: 160px;">
      <h4 style="display: inline-table; color: #ffc72d; font-weight: bold; margin: 2px;"> 
        {{ this.navParams.get('dsProduto') }} 
        <button (click)="viewInfos(this.navParams.data)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" style="color: #ffc72d">info_outline</i>
        </button>
      </h4>


      <h5 style="color: #fff; margin: 4px; position: relative; top: 20px">{{this.navParams.get('dsCategoriaProduto')}}</h5>

      <span style="color: #fff; margin: 4px; position: relative; top: 40px;">R$ {{vlProduto}} a cada 100ml</span>
    </div>

    <div style="width: calc(100% - 16px);padding-top: 15px;">
      <div style="width: 100%; display: table; margin: auto">
        <div style="width: 30%;">
          <span>Corpo</span>
        </div>
        <div style="width: 60%; display: inline-table">
          <img [src]="'./assets/imgs/' + (c == 1 ? 'rating_nor.png':'rating_obs.png')" *ngFor="let c of corpo" style="width: 20px"/>
        </div>
      </div>
      <div style="width: 100%; margin-top: 4px; display: table; margin: auto">
        <div style="width: 30%;">
          <span>Amargor</span>
        </div>
        <div style="width: 60%; display: inline-table">
          <img [src]="'./assets/imgs/' + (c == 1 ? 'rating_nor.png':'rating_obs.png')" *ngFor="let c of amargor" style="width: 20px"/>
        </div>

      </div>
      <div style="width: 100%; margin-top: 4px; display: table; margin: auto">
        <div style="width: 30%;">
          <span>Alcool</span>
        </div>
        <div style="width: 60%; display: inline-table">
          <img [src]="'./assets/imgs/' + (c == 1 ? 'rating_nor.png':'rating_obs.png')" *ngFor="let c of alcool" style="width: 20px"/>
        </div>
      </div>


    </div>
  </div>
  <button (click)="viewCtrl.dismiss()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--grey-800" style="top: 10px; right: 10px; position: absolute;">
    <i class="material-icons" style="color: #ffc72d; font-size: 20px">clear</i>
  </button>
</div>

